.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-container {
  width: 100%;
  display: flex;
  align-items: center; /* Center the image and description vertically */
}

.image-box {
  width: 200px; /* Set the width of the image box */
  height: 200px; /* Set the height of the image box */
  overflow: hidden; /* Ensure images don't overflow */
  border-radius: 10px; /* Apply rounded corners to the image box */
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images maintain aspect ratio */
}

.image-details {
  margin-left: 10px; /* Add space between image and description */
}

.share-button {
  margin-left: auto; /* Push the share button to the right */
  padding: 5px 20px; /* Adjust padding as needed */
  border-radius: 2px; /* Adjust border radius for rounding */
  background-color: #FFCF4B; /* Set background color to yellow */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
}
